<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">game</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="game-screen">
    <div class="top-bar">
      <span>ניקוד: {{score}}</span>
      <span>רמה: {{level}}</span>
      <span>הצלחות ברצף: {{getStreakEmoji()}}</span>
    </div>

    <div *ngIf="currentWord" class="word-container">
      <h2>{{currentWord.englishWord}}</h2>
      <ion-button fill="clear" (click)="speakWord()">
        <ion-icon name="volume-high-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleHint()">הצג רמז</ion-button>
    </div>
    
    <div *ngIf="showHint" class="hint-container">
      <img *ngIf="hintImageUrl" [src]="hintImageUrl" alt="Hint image" class="hint-image">
      <p *ngIf="!hintImageUrl">Loading hint...</p>
    </div>

    <div  class="options-container">
      <ion-button *ngFor="let option of options" 
        (click)="checkAnswer(option)"
        expand="block"
        [disabled]="showingCorrectAnswer"
        [ngClass]="{
          'correct-answer': showingCorrectAnswer && option.isCorrect,
          'incorrect-answer': showingCorrectAnswer && !option.isCorrect && lastSelectedOption === option
        }">
        {{option.hebrew}}
      </ion-button>
    </div>
    
    <ion-button (click)="resetGame()">התחל מחדש</ion-button>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </div>

</ion-content>

