<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>הגדרות</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">מספר מילים למשחק</ion-label>
    <ion-input type="number" [(ngModel)]="numberOfWords" min="1" max="100"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>קטגוריה</ion-label>
    <ion-select [(ngModel)]="selectedCategory">
      <ion-select-option value="">הכל</ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">שיעור/רמת קושי למשחק</ion-label>
    <ion-input type="number" [(ngModel)]="selectedDifficulty" min="1" max="100"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="updateDefinitions()">עדכן הגדרות</ion-button>
</ion-content>