<ion-header>
  <ion-toolbar>
    <ion-title>Word Quest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Word Quest</h1>
  <h2>מסע המילים</h2>
  
  <ion-button expand="block" (click)="navigateToGame()">למשחק</ion-button>
  <ion-button expand="block" (click)="navigateToWords()">מילים</ion-button>
  <ion-button expand="block" (click)="navigateToSettings()">הגדרות</ion-button>
  <ion-button expand="block" (click)="navigateToScoreboard()">לוח תוצאות</ion-button>
</ion-content>
